/* ScrollAnimation.css */
  .scroll-animation {
    opacity: 1; /* Start with opacity 1 */
    transform: translateX(-100%); /* Start off-screen to the left */
    transition: transform 0.5s ease;
  }
  
  .animate-fade-in {
    opacity: 1;
    transform: translateY(0); /* Move to the default position */
  }

  .animate-slide-in {
    transform: translateX(0); /* Move to the default position (on-screen) */
  }
  
  .scrollable-section {
    background-color: #e0e0e0;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .scrollable-section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  